mef/schema/curves.rnc

curve =
  element curve {
    attribute name { xsd:NCName }?,
    attribute description { text }?,
    (attribute X-title { xsd:string },
     attribute Y-title { xsd:string },
     attribute Z-title { xsd:string }?)?,
    (attribute X-unit { unit },
     attribute Y-unit { unit },
     attribute Z-unit { unit }?)?,
    element point {
      attribute X { xsd:double },
      attribute Y { xsd:double },
      attribute Z { xsd:double }?
    }*
  }

unit = "seconds" | "hours"
